html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

*, ::before, ::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

.body {
  font-family: 'Poppins', sans-serif;
  margin: 2rem 10vw;
  font-size: 1.6rem;
  line-height: 1.6;
  color: #330A00;
}

a {
  color: #330A00;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2.6rem;
  padding: 1rem 0;
}

h4 {
  font-size: 2.2rem;
  padding: 1rem 0;
}

.founders {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.founders__block {
  width: 45%;
}

.founders__block p {
  padding-bottom: 1rem;
}

.founders__filip {
  position: relative;
  top: 25rem;
  margin-bottom: 25rem;
  padding: 2rem;
  border: 1px solid #F1B90E;
  background-color: #F1B90E;
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-top-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
}

.founders__photo {
  width: 15rem;
  margin: 2rem 0;
  border-top-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
}

.footer {
  margin-top: 10rem;
  text-align: center;
}

.header {
  background-color: #4F1208;
  height: 15rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 10vw;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 5rem;
}

.header__logo {
  height: 10rem;
}

.header__title {
  display: inline-block;
  font-family: "Lora", serif;
  font-size: 3rem;
  color: #F1B90E;
  padding-right: 5rem;
}

.sec__header {
  font-family: "Lora", serif;
  color: #330A00;
  position: relative;
  max-width: 70rem;
  margin: 5rem auto;
  text-align: center;
}

.sec__header:before {
  content: " ";
  display: block;
  height: 0.2rem;
  width: 20rem;
  position: absolute;
  top: 50%;
  left: 0;
  background: #CBE11E;
}

.sec__header:after {
  content: " ";
  display: block;
  height: 0.2rem;
  width: 20rem;
  position: absolute;
  top: 50%;
  right: 0;
  background: #CBE11E;
}

.nav {
  margin: 2rem auto 3rem auto;
}

.nav__item {
  display: inline-block;
  font-size: 1.8rem;
}

.nav__item--link {
  text-decoration: none;
  color: #330A00;
}

.partners__list {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.partners__list--item {
  display: inline-block;
}

.partners__list--item img {
  height: 5rem;
  margin: 1rem;
  opacity: 0.7;
}

.services__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.services__flex--card {
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-top-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
  display: block;
  width: 30%;
  height: 30rem;
  border: 0rem solid white;
  text-align: center;
}

.services__flex--card img {
  width: 100%;
  height: 14rem;
  -o-object-fit: cover;
     object-fit: cover;
  border-top-left-radius: 2rem;
}

.values {
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-top-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
  margin-bottom: 2rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 15rem auto;
      grid-template-columns: 15rem auto;
}

.values__head {
  background-color: #F1B90E;
  padding: 2rem 2rem 0 2rem;
  border-top-left-radius: 2rem;
  width: 15rem;
}

.values__par {
  padding: 2rem;
}

.visions__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.visions__flex--card {
  display: block;
  width: 30%;
  height: 15rem;
  border: 0.15rem solid #CBE11E;
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-top-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
  padding: 0.5rem;
  text-align: center;
  margin: 3rem 0;
}

.visions__flex--card img {
  padding: 2rem 0 0.5rem 0;
  width: 32px;
}

.quat {
  background-color: #F1B90E;
  color: #330A00;
  padding: 50px;
  font-size: 1.8rem;
  width: 120%;
  margin-left: -10%;
  margin-top: 2rem;
  position: relative;
  border-bottom-right-radius: 2rem;
  border-top-left-radius: 2rem;
}

.quat:before {
  content: url(../img/noun-quote-89663.svg);
  display: inline-block;
  position: absolute;
  top: 1rem;
  left: 01rem;
}
/*# sourceMappingURL=style.css.map */