html {box-sizing: border-box; font-size: 62.5%; scroll-behavior: smooth;}
*,::before, ::after {box-sizing: inherit;}
* {margin: 0; padding: 0;}

//pro šipku, která scrolluje zpět nahoru
body {
    display: grid;
    grid-template-columns: auto 0px;
}

.body {
    // background-color: $color-bg-primary;
    font-family: 'Poppins', sans-serif;
    margin: 0rem 10vw;
    font-size: $font-main;
    line-height: 1.6;
    color: $color-f-primary;

    @media screen and(min-width: 1450px) {
        margin: 0rem 20vw;
    }
}


.up {
    --offset: 10rem;
    margin-top: calc(100vh + var(--offset));
    place-self: end;
    position: sticky;
    bottom: 2rem;
    right: 2rem;

    background-color: $color-bg-tertiary;
    color: $font-primary;
    font-size: 3rem;
    text-decoration: none;
    padding: 1rem 2rem;
    opacity: 0.6;
    cursor: pointer;
}

a {
    color: $color-f-primary;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 2.6rem;
    padding: 1rem 0;
}

h4 {
    font-size: 2.2rem;
    padding: 1rem 0;
}