.contact {
    &--span {
        font-size: 1.8rem;
        white-space: pre;
    }

    & h4 {
        display: inline-block;
    }

    &__flex {
        display: flex;
        align-items: baseline;
        flex-direction: column;

        &--inline {
            display: inline-block;

            & a:hover {
                color: $color-bg-tertiary;
            }
        }
        
        & img {
            width: 2rem;
            margin-right: 2rem;
        }


    }

    @media screen and(min-width: 900px) {
        &__photo {
            float: left;
            margin: 0;
        }
        
        & h4 {
            padding-left: 3rem;
            padding-top: 7rem;
        }

        &__flex {
            padding-left: 5rem;
    
            &--inline {
                display: inline-block;
            }
            & img {
                width: 2rem;
            }
        }
    }

}