.footer {
    margin-top: 10rem;
    text-align: center;
    background-color: $color-bg-secondary;
    color: $color-bg-quaternary;

    & a {
        text-decoration: none;
    }

    &__icons {
        cursor: pointer;
        width: 30px;
        margin: 2rem 0.5rem 3rem 0.5rem;

        &:hover {
            fill: $color-f-tertiary;
        }

        @media screen and (min-width: 900px) {
            width: 50px;
            margin: 2rem 0.5rem 5rem 0.5rem;
        }
    }

    & p, a {
        font-size: 1.2rem;
        color: $color-bg-quaternary;
        padding-bottom: 0.5rem;
    }
}