.founders {

    @media screen and (min-width: 900px) {
        display: flex;
        justify-content: space-between;

        &__block {
            width: 45%;
        }

        &__filip {
            position: relative;
            top: 25rem;
            margin-bottom: 25rem;
        }
    }


    &__block {
        p {
            padding-bottom: 1rem;
        }
    }

    &__filip {
        padding: 2rem;
        border: 1px solid $color-bg-primary;
        background-color: $color-bg-primary;

        @include card;
    }

    &__photo {
        width: 15rem;
        margin: 2rem 0;
        border-top-left-radius: 2rem;
        border-bottom-right-radius: 2rem;

    }

}
