.sec__header {
    font-family: $font-secondary;
    color: $color-f-primary;
    // color: $color-f-secondary;
    position: relative;
    max-width: 70rem;
    margin: 5rem auto;
    text-align: center;
    border-bottom: 0.1rem solid $color-f-tertiary;

    @media screen and (min-width: 900px) {
        border-bottom: 0rem;

        &:before {
            content:" ";
            display: block;
            height: 0.2rem;
            width: 20rem;
            position: absolute;
            top: 50%;
            left: 0;
            background: $color-bg-tertiary;
        }
    
        &:after {
            content:" ";
            display: block;
            height: 0.2rem;
            width: 20rem;
            position: absolute;
            top: 50%;
            right: 0;
            background: $color-bg-tertiary;
        }
        
    }

}

