.nav {
    background-color: $color-bg-tertiary;
    padding: 1rem;
    font-family: $font-secondary;  

    @media screen and(min-width: 1165px) {
        padding: 1rem 10vw;
        position: sticky;
        top: 0;
        z-index: 10;
    }

    &__list {
        display: none;
        width: 20rem;
        margin: 1rem auto;
        padding: 1rem;
        font-size: 1.6rem;
        text-decoration: none;


        @media screen and(min-width: 1165px) {
            display: flex;
            width: 940px;
            margin: 0 auto;
            padding-bottom: 0.5rem;
        }
    }

    &__item {
        padding: 0.5rem 0;
        display: block;
        text-align: center;



        &--link  {
            text-decoration: none;
            cursor: pointer;
            padding: 0 1rem;

            &:hover {
                color: $color-f-quaternary;
            }
        }

        @media screen and(min-width: 1165px) {
            display: inline-block;
            font-size: $font-nav;
        }
    }


    &__menu {
        &--checkbox {
            position: absolute;
            left: -99999px;
        }

        & p {
            margin-right: 1rem;
            font-size: 1.6rem;
        }

        &--icon {
            display: flex;
            align-items: center;
            width: 110px;
            position: relative;
            left: 50%;
            margin-left: -55px;
            cursor: pointer;

            @media screen and(min-width: 1165px) {
                display: none;
            }
        }
        &--checkbox {
            @media screen and(min-width: 1165px) {
                display: none;
            }
        }
    }

}

@media screen and (max-width: 1164px) {
    .nav__menu--checkbox:checked ~ .nav__list {
        display: block;
    }
}