.services {
    &__flex {
    
        &--card1 {
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            border-top-left-radius: 2rem;
            display: block;
            height: 30rem;
            border: 0rem solid white;
            text-align: center;
            margin-bottom: 1rem;

            & img {
                @include services__card--img;
                border-top-left-radius: 2rem;
            }
        }

        &--card2 {
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            display: block;
            height: 30rem;
            border: 0rem solid white;
            text-align: center;
            margin-bottom: 1rem;

            & img {
                @include services__card--img;
            }
        }

        &--card3 {
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            border-bottom-right-radius: 2rem;            
            display: block;
            height: 30rem;
            border: 0rem solid white;
            text-align: center;
            margin-bottom: 1rem;

            & img {
                @include services__card--img;
            }
        }
    } 

    @media screen and (min-width: 750px) {
        &__flex {
            display: flex;
            justify-content: space-around;
        
            &--card1 {
                width: 30%;
            }
    
            &--card2 {
                width: 30%;
            }
    
            &--card3 {
                width: 30%;
            }
        }
    }
}