.values {
    &__card {
        margin-bottom: 2rem;

        display: grid;

        &--head {
            background-color: $color-bg-primary;
            padding: 2rem;
        }

        &--head1 {
            border-top-left-radius: 2rem;
        }
    
        &--par {
            padding: 2rem;
        }

        &--1 {
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            border-top-left-radius: 2rem;
        }

        &--2 {
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        }
        
        &--3 {
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            border-bottom-right-radius: 2rem;        
        }
    }

    @media screen and(min-width: 750px) {
        &__card {
            grid-template-columns: 15rem auto;
    
            &--head {
                padding: 2rem 2rem 0 2rem;
                width: 15rem;
            }
       }
    }

}