//colours
$color-bg-primary: #F1B90E;
$color-bg-secondary: #4F1208;
$color-bg-tertiary: #CBE11E;
// $color-bg-tertiary: #00E2FF;
$color-bg-quaternary: #ffffff;

//logo colour
$color-logo: #fec77d;

//font colours
$color-f-primary: #330A00; 
$color-f-secondary: #F1B90E;
$color-f-tertiary: #CBE11E;
$color-f-quaternary: #ffffff;
// $color-f-secondary: #00E2FF;

//fonts
$font-primary: 'Open Sans', sans-serif;
$font-secondary: 'Lora', serif;

//font-size:
$font-header: 3rem;
$font-nav: 1.8rem;
$font-main: 1.6rem;