//colours
$color-bg-primary: #FEECD2;
$color-bg-secondary: #4F1208;
$color-bg-tertiary: #00E2FF;

//logo colour
$color-logo: #fec77d;

//font colours
$color-f-primary: #330A00;
$color-f-secondary: #00E2FF;

//fonts
$font-primary: 'Open Sans', sans-serif;
$font-secondary: 'Lora', serif;

//font-size:
$font-header: 3rem;
$font-nav: 1.8rem;
$font-main: 1.6rem;