.visions {
    &__flex {
    
        &--card {
            display: block;
            height: 15rem;
            border: 0.15rem solid $color-bg-tertiary;

            padding: 0.5rem;
            text-align: center;
            margin: 3rem 0;

            & img {
                padding: 2rem 0 0.5rem 0;
                width: 32px;
            }

        }

        &--card1 {
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            border-top-left-radius: 2rem;
        }

        &--card2 {
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        }

        &--card3 {
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            border-bottom-right-radius: 2rem;
        }
    }
    @media screen and(min-width: 750px) {
        &__flex {
            display: flex;
            justify-content: space-around;
        
            &--card {
                width: 30%;
            }
        }
    
    }
}

.quat {
    background-color: $color-bg-primary;
    color: $color-f-primary;
    padding: 50px;
    font-size: 1.8rem;
    width: 120%;
    margin-left: -10%;
    margin-top: 2rem;
    position: relative;
    border-bottom-right-radius: 2rem;
    border-top-left-radius: 2rem;

    &:before {
        content: url(../img/noun-quote-89663.svg);
        display: inline-block;
        position: absolute;
        top: 1rem;
        left: 01rem;

    }

    @media screen and(min-width: 1450px) {
        width: 80%;
        margin: 2rem auto;
    }
}

