.visions {
    &__flex {
        display: flex;
        justify-content: space-around;

    
        &--card {
            display: block;
            width: 30%;
            height: 15rem;
            border: 0.15rem solid $color-bg-tertiary;
            // background-color: $color-bg-primary;
            @include card;

            padding: 0.5rem;
            text-align: center;
            margin: 3rem 0;

            & img {
                padding: 2rem 0 0.5rem 0;
                width: 32px;
            }

        }
    }
}

.quat {
    background-color: $color-bg-primary;
    color: $color-f-primary;
    padding: 50px;
    font-size: 1.8rem;
    width: 120%;
    margin-left: -10%;
    margin-top: 2rem;
    position: relative;
    border-bottom-right-radius: 2rem;
    border-top-left-radius: 2rem;

    &:before {
        content: url(../img/noun-quote-89663.svg);
        display: inline-block;
        position: absolute;
        top: 1rem;
        left: 01rem;

    }
}

